<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>

    <div id="app">
        <h1>Discount Calculator</h1>
        <p>Item name</p>
        <input v-model="description" type="text">
        <p>Orginal Price</p>
        <input v-model="price" type="text">

        <p>Discount Percentage</p>
        <input v-model="discountpercentage" type="text">

        <p>Quantity</p>
        <input v-model="quantity" type="text">

        <button v-on:click="retailcal" type="button">Click discount</button>
        <button v-on:click="additem" type="button">Add items</button>
        <p> your discount is. {{checkout}}</p>
        <p> (Auto calculate) your discount is. {{autocalcutor}}</p>
        <p> Total cost is {{totalcost}}</p>

        <ol>
            <li v-for="basket in baskets">
                {{ basket.description }} - £{{ calcDiscounts(basket.price, basket.quantity, basket.discountpercentage) }}
            </li>
        </ol>
    </div>

</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            price: 0,
            discountpercentage: 0,
            quantity: 1,
            checkout: 0,
            description: null,
            baskets: [{
                description: 'chocolate',
                quantity: 1,
                price: 20,
                discountpercentage: 0
            }, {
                description: 'Drink coco',
                quantity: 3,
                price: 20,
                discountpercentage: 0
            }]
        },
        methods: {
            retailcal: function() {
                var productprice;
                var discountoffer;
                var product = this.quantity;
                var discountprice;
                discountoffer = this.discountpercentage;
                productprice = (this.price) * product;
                discountprice = (productprice / 100) * discountoffer;
                this.checkout = (productprice - discountprice).toFixed(2);
            },
            calcDiscounts: function(price, quantity, discountpercentage) {
                var productprice = price * quantity;

                var discountprice = (productprice / 100) * discountpercentage;
                return (productprice - discountprice).toFixed(2);

            },


            additem: function() {
                var self = this;
                self.baskets.push({
                    description: self.description,
                    quantity: self.quantity,
                    price: self.price,
                    discountpercentage: self.discountpercentage

                })
            }
        },
        computed: {
            autocalcutor: function() {
                var productprice;
                var discountoffer;
                var product = this.quantity;
                var discountprice;
                discountoffer = this.discountpercentage;
                productprice = (this.price) * product;
                discountprice = (productprice / 100) * discountoffer;
                return (productprice - discountprice).toFixed(2);
            },

            totalcost: function() {
                var self = this;
                var overalltotalprice = 0;
                for (let index = 0; index < self.baskets.length; index++) {
                    var item = self.baskets[index];
                    var total = item.price * item.quantity;
                    overalltotalprice += total;
                }

                return overalltotalprice;

            }
        }


    })
</script>

</html>